.App {
  text-align: center;
}

.chart {
  margin-left: 50px;
  margin-right: 50px;
}
.NewCases {
  color: #3f51b5;
}
.CountryName {
  font-size: 25px;  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  margin-left: 50px;
  color: #3f51b5;
  position: relative;
  top: 30px;
  font-weight: bold;


}